* {
    margin: 0;
    padding: 0;
}

h1 {
    margin: 20px;
    padding: 10px;
}

p {
    margin: 2px;
    padding: 3px;
}

.quote {
    margin: 15px;
    padding: 5px;
}

.author {
    font-weight: bold;
}
